<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reserve</title>
    <!-- Bootstrap CSS 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery JS 3.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body class="container">
    <div class="jumbotron text-center">
        <h1>Hot Restaurant</h1>
        <hr>
        <h3>Make your reservation</h3>
        <div class="form-group">
            <button class="btn btn-primary" id="viewTables">View Tables</button>
            <button class="btn btn-primary" id="home">Home</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Table Reservation</h4>
        </div>
        <div class="panel-body">

            <form id="myform" role="form">
                <div class="form-group">
                    <label for>Name</label>
                    <input required class="form-control" type="text" id="reserve_name">
                </div>
                <div class="form-group">
                    <label for>Phone Number</label>
                    <input required class="form-control" type="phone" id="reserve_phone">
                </div>
                <div class="form-group">
                    <label for>Email</label>
                    <input required class="form-control" type="email" id="reserve_email">
                </div>
                <div class="form-group">
                    <label for>Unique ID</label>
                    <input required class="form-control" type="text" id="reserve_id">
                </div>
                <button id="btnSubmit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#viewTables").click(function () {
                document.location.href = "/tables.html";
            });

            $("#btnSubmit").click(function () {
                event.preventDefault();
                const reservation = {
                    name: $("#reserve_name").val().trim(),
                    phone: $("#reserve_phone").val().trim(),
                    email: $("#reserve_email").val().trim(),
                    id: $("#reserve_id").val().trim()
                }
                $.post('/api/reserve', reservation).then(data => {
                    alert("Posting reservation...\nProcessing " + data.id);
                });
            });

        });
        $(document).ready(function () {
            $("#home").click(function () {
                document.location.href = "/home.html";
            });
        });
    </script>
</body>

</html>