<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reserve</title>
    <!-- Bootstrap CSS 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery JS 3.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body class="container">
    <div class="jumbotron text-center">
        <h1>Hot Restaurant</h1>
        <hr>
        <h3>Only 5 tables left! Hurry and make a reservation! At your leisure..</h3>
        <div class="form-group">
            <button class="btn btn-primary" id="makeReservation">Make Reservation</button>
            <button class="btn btn-primary" id="home">Home</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Tables</h4>
        </div>
        <div class="panel-body" id="someID">
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">Waitlist</h4>
        </div>
        <div class="panel-body" id="someID2">
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#makeReservation").click(function () {
                document.location.href = "/hot-reserve.html";
            });
            $("#home").click(function () {
                document.location.href = "/home.html";
            });
            $.get("/api/tablelist").then(function (data) {
                // console.log(data)
                let name = JSON.stringify(data.name);
                let phoneNumber = JSON.stringify(data.phone);
                let email = JSON.stringify(data.email);
                let id = JSON.stringify(data.id)
                console.log(data[0].name)

                for (let i = 0; i <= 4; i++) {
                    console.log(data[i])
                    const newRow = `<div class="well">
                <h2>
                    <span class="label label-primary">${i + 1}</span>
                    |${data[i].name}
                </h2>
            </div>`

                    $("#someID").append(newRow)
                }
                for (let i = 5; i >= 5; i++) {
                    console.log(data[i])
                    const newRow2 = `<div class="well">
                                        <h2>
                                            <span class="label label-primary">${i - 4}</span>
                                            |${data[i].name}
                                        </h2>
                                    </div>`

                    $("#someID2").append(newRow2)
                }
            })
        });

    </script>
</body>

</html>